<ng-template #template class="row col-lg-12 col-md-12 pupUp-image-modal">
  <div class="modal-header">
      <h4 class="modal-title pull-left custom-main-regular-hedding">History</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body row col-lg-12 col-md-12 custom-defult-font vertical-divider form-inline">
      <div class="form-group mx-sm-4 mb-2">
        <label for="exampleFormControlFile1">Realtime : </label>
        <input type="text"
        ngxDaterangepickerMd
        [(ngModel)]="selected"
        [showCustomRangeLabel]="true"
        [alwaysShowCalendars]="true"
        [ranges]="ranges"
        [linkedCalendars]="true"
        [isInvalidDate] = "isInvalidDate"
        [showClearButton]="false"
        [timePicker]="true"
        placeholder="Select please..."/>
      </div> 
      <div class="form-group mx-sm-4 mb-2">
        <label for="exampleFormControlFile1">Parameter : </label>
        <select class="form-control" [(ngModel)]="prm" id="prm" [(ngModel)]="prm" name="prm" >
          <option  *ngFor="let item of lastdata1 | keyvalue; let i = index" value="{{item.key}}" >{{item.key}}</option>
        </select>
      </div>
      <div class="form-group mx-sm-4 mb-2">
        <label for="exampleFormControlFile1">TimeZone</label>
        <select class="form-control" [(ngModel)]="tzone" id="tzone" [(ngModel)]="tzone" name="tzone" >
         <option value="UTC">UTC</option>
         <option value="UTC +5:30">UTC + 5:30</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 float-right">
        <button type="submit" class="btn btn-success" (click)="show()">Search</button>
    </div>   
   </div>
   <div class="modal-footer" >
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
   </div>
</ng-template>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid"><br>
      <div class="header-body" *ngIf="mqtt_lastdata">
        <!-- Card stats -->
          <div class="row" >
            <div  *ngFor="let item of mqtt_lastdata | keyvalue; let i = index">
              <div class="col-xl-12 col-lg-12"  *ngIf='item.key != "id" && item.key != "created"'>
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">{{item.key}}</h5>
                        <span class="h2 font-weight-bold mb-0">{{item.value==='1.0'?'RUN':'STOP'}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape  text-white rounded-circle shadow" [ngClass]="{'bg-success':item.value=='1.0','bg-danger':item.value=='0.0'}">
                          <i class="" [ngClass]="{'fas fa-lightbulb':item.value=='1.0','ni ni-time-alarm':item.value=='0.0'}"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br *ngIf="i%4==0">
            </div>
           </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
  
    <div class="row mt-5" >
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Alarm's</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive" *ngIf="alarm_data">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Alarm Description</th>
                  <th scope="col">SrNo</th>
                  <th scope="col">Alarm No</th>
                  <!-- <th scope="col">Alarm Description</th> -->
                  <th scope="col">Datetime</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of alarm_data; let i = index">
                  <th scope="row">
                   {{item.status}}
                  </th>
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{item.alertno}}
                  </td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i> 46,53% -->
                    {{item.created}}
                  </td>
                  <td>
                    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="deletealarm(item.id)">Solve</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Alarm Summary</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Alarm Discription</th>
                  <th scope="col">Count</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of alarm_datasummary; let i = index">
                  <th scope="row">
                    {{item.status}}
                  </th>
                  <td>
                    {{item.occored}}
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{(item.occored*100)/item.total| number : '1.2-2'}}</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
  
    <div class="row mt-7" >
      <div class="col-xl-12 mb-7 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="col text-left">
              <!-- <a href="#!" class="btn btn-sm btn-primary"><i class="fas fa-clock"></i></a> -->
              <button class="btn btn-sm btn-primary" (click)="openModal(template)"><i class="fas fa-clock"> </i> Realtime</button>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr >
                    <th  *ngFor="let item of mqtt_lastdata | keyvalue; let i = index">{{ item.key }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of alarm_datasummary1">           
                    <td *ngFor="let list of item | keyvalue; let i = index">{{list.key==='created' || list.key==='id' ? list.value:list.value==='1.0'?'Run':'Stop'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center" *ngIf="chartOptions">
              <div class="col">
                <h3 class="mb-0"></h3>
              </div>
              <highcharts-chart
              [Highcharts] = "highcharts" 
              [options] = "chartOptions" 
              style = "width:100%; height: 600px; display: block;">
          </highcharts-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  