<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body" *ngIf="mqtt_lastdata">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Normal Mode</h3>
            </div>
            <div class="col text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
            </div>
          </div>
        </div>
        <div  *ngIf="mqtt_lastdata">
          <!-- Projects table -->
          <table class="table  align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Landing</th>
                <th scope="col">Lock</th>
                <th scope="col">Unlock</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Left Land Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_9 == '1.0','bg-light': mqtt_lastdata.t_9 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_9 == '1.0','': mqtt_lastdata.t_9 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_5 == '1.0','bg-light': mqtt_lastdata.t_5 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_5 == '1.0','': mqtt_lastdata.t_5 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_1 == '1.0','bg-light': mqtt_lastdata.t_1 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_1 == '1.0','': mqtt_lastdata.t_1 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Left Water Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_10 == '1.0','bg-light': mqtt_lastdata.t_10 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_10 == '1.0','': mqtt_lastdata.t_10 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_6 == '1.0','bg-light': mqtt_lastdata.t_6 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_6 == '1.0','': mqtt_lastdata.t_6 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_2 == '1.0','bg-light': mqtt_lastdata.t_2 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_2 == '1.0','': mqtt_lastdata.t_2 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Right Water Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_11 == '1.0','bg-light': mqtt_lastdata.t_11 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_11 == '1.0','': mqtt_lastdata.t_11 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_7 == '1.0','bg-light': mqtt_lastdata.t_7 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_7 == '1.0','': mqtt_lastdata.t_7 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_3 == '1.0','bg-light': mqtt_lastdata.t_3 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_3 == '1.0','': mqtt_lastdata.t_3 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Right land Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_12 == '1.0','bg-light': mqtt_lastdata.t_12 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_12 == '1.0','': mqtt_lastdata.t_12 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_8 == '1.0','bg-light': mqtt_lastdata.t_8 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_8 == '1.0','': mqtt_lastdata.t_8 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_4 == '1.0','bg-light': mqtt_lastdata.t_4 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_4 == '1.0','': mqtt_lastdata.t_4 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br><br>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Twin Mode</h3>
            </div>
            <div class="col text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
            </div>
          </div>
        </div>
        <div  *ngIf="mqtt_lastdata">
          <!-- Projects table -->
          <table class="table table-sm align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Landing</th>
                <th scope="col">Lock</th>
                <th scope="col">Unlock</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Left Land Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_25 == '1.0','bg-light': mqtt_lastdata.t_25 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_25 == '1.0','': mqtt_lastdata.t_25 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_21 == '1.0','bg-light': mqtt_lastdata.t_21 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_21 == '1.0','': mqtt_lastdata.t_21 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_17 == '1.0','bg-light': mqtt_lastdata.t_17 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_17 == '1.0','': mqtt_lastdata.t_17 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Left Water Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_26 == '1.0','bg-light': mqtt_lastdata.t_26 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_26 == '1.0','': mqtt_lastdata.t_26 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_22 == '1.0','bg-light': mqtt_lastdata.t_22 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_22 == '1.0','': mqtt_lastdata.t_22 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_18 == '1.0','bg-light': mqtt_lastdata.t_18 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_18 == '1.0','': mqtt_lastdata.t_18 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Right Water Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_27 == '1.0','bg-light': mqtt_lastdata.t_27 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_27 == '1.0','': mqtt_lastdata.t_27 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_23 == '1.0','bg-light': mqtt_lastdata.t_23 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_23 == '1.0','': mqtt_lastdata.t_23 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_19 == '1.0','bg-light': mqtt_lastdata.t_19 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_19 == '1.0','': mqtt_lastdata.t_19 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Right land Side
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_28 == '1.0','bg-light': mqtt_lastdata.t_28 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_28 == '1.0','': mqtt_lastdata.t_28 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_24 == '1.0','bg-light': mqtt_lastdata.t_24 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock': mqtt_lastdata.t_24 == '1.0','': mqtt_lastdata.t_24 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_20 == '1.0','bg-light': mqtt_lastdata.t_20 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lock-open': mqtt_lastdata.t_20 == '1.0','': mqtt_lastdata.t_20 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-sm-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Other Input</h3>
            </div>
            <div class="col text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
            </div>
          </div>
        </div>
        <div  *ngIf="mqtt_lastdata">
          <!-- Projects table -->
          <table class="table  align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Twin Up Left Landside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_29 == '1.0','bg-light': mqtt_lastdata.t_29 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_29 == '1.0','': mqtt_lastdata.t_29 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twin Up Left Waterside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_30 == '1.0','bg-light': mqtt_lastdata.t_30 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_30 == '1.0','': mqtt_lastdata.t_30 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twin Up Right Landside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_31 == '1.0','bg-light': mqtt_lastdata.t_31 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_31 == '1.0','': mqtt_lastdata.t_31 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twin Up Right Waterside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_32 == '1.0','bg-light': mqtt_lastdata.t_32 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_32 == '1.0','': mqtt_lastdata.t_32 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hook Connected Leftside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_33 == '1.0','bg-light': mqtt_lastdata.t_33 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_33 == '1.0','': mqtt_lastdata.t_33 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hook Connected Rightside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_34 == '1.0','bg-light': mqtt_lastdata.t_34 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_34 == '1.0','': mqtt_lastdata.t_34 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hook Disconnected Leftside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_35 == '1.0','bg-light': mqtt_lastdata.t_35 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_35 == '1.0','': mqtt_lastdata.t_35 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hook Disonnected Rightside
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_36 == '1.0','bg-light': mqtt_lastdata.t_36 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_36 == '1.0','': mqtt_lastdata.t_36 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twistlock Unlock Cmd
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_43 == '1.0','bg-light': mqtt_lastdata.t_43 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_43 == '1.0','': mqtt_lastdata.t_43 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twistlock Lock Cmd
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_44 == '1.0','bg-light': mqtt_lastdata.t_44 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_44 == '1.0','': mqtt_lastdata.t_44 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twin Up Cmd
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_49 == '1.0','bg-light': mqtt_lastdata.t_49 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_49 == '1.0','': mqtt_lastdata.t_49 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Twin Down Cmd
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_50 == '1.0','bg-light': mqtt_lastdata.t_50 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_50 == '1.0','': mqtt_lastdata.t_50 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                 Twin in Zero
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_39 == '1.0','bg-light': mqtt_lastdata.t_39 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_39 == '1.0','': mqtt_lastdata.t_39 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                 Twin Left Attached Position
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_37 == '1.0','bg-light': mqtt_lastdata.t_37 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_37 == '1.0','': mqtt_lastdata.t_37 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                 Twin Right Attached Position
                </th>
                <td>
                  <div class="col-auto">
                    <div class="icon icon-shape  text-white rounded-circle shadow"
                      [ngClass]="{'bg-success': mqtt_lastdata.t_38 == '1.0','bg-light': mqtt_lastdata.t_38 == '0.0'}">
                      <i class=""
                        [ngClass]="{'fas fa-lightbulb': mqtt_lastdata.t_38 == '1.0','': mqtt_lastdata.t_38 == '0.0'}"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
